<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />


    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />


    <!-- Optionally, you can also request coarse location permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CropHarv"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropHarv_1"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="tiramisu">

        <activity
            android:name=".RegisterActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true">

        </activity>

<activity android:name=".SplashScreenActivity"
    android:exported="true">
    <intent-filter>

        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".PlantDiseasePrediction"
            android:exported="true">



        </activity>

        <activity android:name=".PlantRecommendationActivity"
            android:exported="true">


        </activity>
        <activity android:name=".MarketPricePredictionActivity" />
        <activity android:name=".PlantDiseasePredictionc" />
        <activity android:name=".BottomNavActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ChatBotActivity" android:exported="true">
        </activity>

    </application>

</manifest>